body{
    background-color: #fefbff;
    background-image: url(../images/Space_parallax.png);
}
nav{
    background-color: #ac5edfa6;
    height: 15vh;
    opacity: 150%;
}
#space1{
    background-image: url(../images/Space_parallax.webp);
}
#space2{
    color: #f6f8dd;  
}


#logo{
    height: 10vh;
}

#nav_text{
    color: #a168f9;
}
#title{
    height: 14vw;
}
#read_more{
    height: 5vw;
}
#fonted{
    font-family: cursive;
    margin-top: 13rem;
}

#margin1{
    margin-top: 7.8rem;
}
#margin2{
    margin-top: 2.8rem;
}
#margin3{
    margin-top: 7rem;
}

#category{
    color: #a168f9;  
}
#description{
    font-size: clamp(1vw, 1rem, 10rem);
}